annotated-types==0.5.0
anyio==3.7.1
appdirs==1.4.4
attrs==23.1.0
beautifulsoup4==4.12.2
blinker==1.6.2
bs4==0.0.1
certifi==2023.5.7
charset-normalizer==3.1.0
click==8.1.3
dnspython==2.4.2
email-validator==2.0.0.post2
exceptiongroup==1.1.2
fastapi==0.103.1
Flask==2.3.2
Flask-SQLAlchemy==3.0.3
h11==0.14.0
httpcore==0.17.3
httptools==0.6.0
httpx==0.24.1
idna==3.4
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.2.0
lxml==4.9.3
MarkupSafe==2.1.2
nltk==3.8.1
orjson==3.9.5
outcome==1.2.0
pydantic==2.3.0
pydantic-extra-types==2.1.0
pydantic-settings==2.0.3
pydantic_core==2.6.3
PySocks==1.7.1
python-dotenv==1.0.0
python-multipart==0.0.6
PyYAML==6.0.1
regex==2023.5.5
requests==2.31.0
robotframework==6.1.1
robotframework-pythonlibcore==4.2.0
robotframework-selenium2library==3.0.0
robotframework-seleniumlibrary @ git+https://github.com/robotframework/SeleniumLibrary.git@f3643eff42b3c1676ad19e88c44bf46324faf590
selenium==4.10.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.4.1
SQLAlchemy==2.0.15
starlette==0.27.0
tqdm==4.65.0
trio==0.22.2
trio-websocket==0.10.3
typing_extensions==4.6.2
ujson==5.8.0
urllib3==2.0.2
uvicorn==0.23.2
uvloop==0.17.0
watchfiles==0.20.0
webdrivermanager==0.10.0
websockets==11.0.3
Werkzeug==2.3.4
wsproto==1.2.0
psycopg2==2.9.7
python-jose==3.3.0
passlib==1.7.4